@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes move{
	0% {
		rotate: 8deg;
	}
	50% {
		rotate: -8deg;
	}
	100% {
		rotate: 8deg;
	}
}
@keyframes bounce{
	0% {
		rotate: 0deg;
	}
	10% {
		rotate: -0.8deg;
		transform: scale(1.1);
	}
	20% {
		rotate: 0.8deg;
		transform: scale(1);
	}
	30% {
		rotate: 0deg;
	}

	100% {

	}
}

@keyframes bater {
	0% {
		transform: translateX(0px);
	}

	25% {
		transform: translateX(4vw);
	}
	
	50% {
		transform: translateX(-4vw);
	}
	75% {
		transform: translateX(4vw);
		
	}
	100% {
		transform: translateX(0px);

	}
}

.float {
    animation: float 6s ease-in-out infinite;
}
.move {
	animation: move .7s ease-in-out infinite;
}

.bounce {
	animation: bounce 7s ease-in-out infinite;
}

.bater {
	animation: bater 7s ease-in-out infinite;

}
